<div class="container">
	<div class="row"><div class="col-md-1"></div>
		<div class="col-md-10">
			<p id="notice"><%= notice %></p>

			<p>
			  <strong>Title:</strong>
			  <%= @wiki.title %>
			</p>

			<p>
			  <strong>Body:</strong>
			  <%= markdown @wiki.body %>
			</p>

			<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
			<%= link_to 'Back', wikis_path %>
		</div><div class="col-md-1"></div>
	</div>
</div>